{
    "swagger": "2.0",
    "info": {
        "title": "API Gateway GenSDK Test API",
        "description": "API for testing generated SDKs. See w?AWS/Mobile/Backplane/lyue_intern_project for more info",
        "version": "1.0.0"
    },
    "host": "TODO.com",
    "schemes": [
        "https"
    ],
    "basePath": "/",
    "produces": [
        "application/json"
    ],
    "security" : [{
        "api_key" : []
    }],
    "securityDefinitions" : {
        "api_key": {
            "type": "apiKey",
            "name": "x-api-key",
            "in": "header"
        }
    },
    "paths": {
        "/level1": {
            "get": {
                "summary": "GET a string message",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"level 1 get\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/level1/level2": {
            "get": {
                "summary": "GET a string message",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"level 2 get\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/level1/level2/level3": {
            "get": {
                "summary": "GET a string message",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"level 3 get\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/level1/level2/level3/level4/level5/level6/level7/level8": {
            "get": {
                "summary": "GET a string message",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"level 8 get\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/freakishly-long-resource-name-hydrogen-helium-lithium-berylium-boron-carbon-nitrogen-oxygen-florine-neon-o-canada-our-home-and-native-land-1234567890-31415926535897932384626": {
            "get": {
                "summary": "GET a string message",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"very long resource name get\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/if": {
            "get": {
                "summary": "GET a string message",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"resource named if get\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/headertest": {
            "get": {
                "summary": "GET a string message",
                "parameters": [
                    {
                        "name": "theparam",
                        "in": "header",
                        "description": "the parameter in header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"The param given is $input.params('theparam')\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,theparam'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,theparam'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/querystringtest": {
            "get": {
                "summary": "GET a string message",
                "parameters": [
                    {
                        "name": "theparam",
                        "in": "query",
                        "description": "the parameter in query",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"The param given is $input.params('theparam')\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/pathparametertest/{theparam}": {
            "get": {
                "summary": "GET a string message",
                "parameters": [
                    {
                        "name": "theparam",
                        "in": "path",
                        "description": "the parameter in path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"The param given is $input.params('theparam')\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/throw400": {
            "get": {
                "summary": "GET a string message",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Should never happen",
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    },
                    "400": {
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "400",
                            "responseTemplates" : {
                                "application/json" : "{\"code\":400,\"message\": \"400 error\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/throw404": {
            "get": {
                "summary": "GET a string message",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Should never happen",
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    },
                    "404": {
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "404",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"404 error\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/throw500": {
            "get": {
                "summary": "GET a string message",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Should never happen",
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    },
                    "500": {
                        "schema": {
                            "$ref": "#/definitions/Error"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "500",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"500 error\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/numericalparam": {
            "get": {
                "summary": "GET a string message",
                "parameters": [
                    {
                        "name": "1234",
                        "in": "query",
                        "description": "the parameter in path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "1234paramname",
                        "in": "query",
                        "description": "the parameter in path",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "78cy48hc8dyg4g8fh873dh",
                        "in": "query",
                        "description": "the parameter in path",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"param 1234 is: $input.params('1234') , param 1234paramname is: $input.params('1234paramname'), param 78cy48hc8dyg4g8fh873dh is $input.params('78cy48hc8dyg4g8fh873dh')\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/testApikeyAuth": {
            "get": {
                "summary": "GET a string message",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "security": [{
                    "api_key": []
                }],
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"message that requires an apikey\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/testIAMAuth": {
            "get": {
                "summary": "GET a string message",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Msg"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "aws_iam"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"message\": \"message that requires IAM authentication\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/testSimpleModel": {
            "get": {
                "summary": "GET a SimpleModel",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/SimpleModel"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"name\": \"nom\",\"id\":6}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "post a SimpleModel",
                "parameters": [
                    {
                        "name": "thing",
                        "in": "body",
                        "description": "the SimpleModel getting posted",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/SimpleModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/SimpleModel"
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "POST",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "$input.json('$')"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/testArraySimpleModel": {
            "get": {
                "summary": "GET an array of SimpleModel",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SimpleModel"
                            }
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "[{\"name\": \"name1\",\"id\": 1},{\"name\": \"name2\",\"id\": 2},{\"name\": \"name3\",\"id\": 3}]"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "post an array of SimpleModel",
                "parameters": [
                    {
                        "name": "things",
                        "in": "body",
                        "description": "the SimpleModels getting posted",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SimpleModel"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/SimpleModel"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "POST",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "$input.json('$')"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/testListofSimpleModel": {
            "get": {
                "summary": "GET a list of simple model",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ListofSimpleModel"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "[{\"name\": \"name1\",\"id\": 1},{\"name\": \"name2\",\"id\": 2},{\"name\": \"name3\",\"id\": 3}]"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "post a list of simple model",
                "parameters": [
                    {
                        "name": "thelist",
                        "in": "body",
                        "description": "the list getting posted",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ListofSimpleModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ListofSimpleModel"
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "POST",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "$input.json('$')"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/testExtendedSimpleModel": {
            "get": {
                "summary": "GET an extended simple model",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ExtendedSimpleModel"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"name\": \"name1\",\"id\": 1, \"anotherproperty\": \"foo\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "post an extended simple model",
                "parameters": [
                    {
                        "name": "thelist",
                        "in": "body",
                        "description": "the thing getting posted",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ExtendedSimpleModel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ExtendedSimpleModel"
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "POST",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "$input.json('$')"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/testModelWithMap": {
            "get": {
                "summary": "GET an ModelWithMap",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ModelWithMap"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"key1\": \"value1\", \"key2\": \"value2\", \"key3\": \"value3\"}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "post an ModelWithMap",
                "parameters": [
                    {
                        "name": "thelist",
                        "in": "body",
                        "description": "the thing getting posted",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ModelWithMap"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ModelWithMap"
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "POST",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "$input.json('$')"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/testComplexObject": {
            "get": {
                "summary": "GET an ComplexObject",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ComplexObject"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "GET",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "{\"stringproperty\": \"foo\", \"intproperty\": 2147483647, \"longintproperty\": 2147483650, \"floatproperty\": 1.2, \"doubleproperty\": 3.1415926535, \"boolproperty\": false, \"nestedobject1\": {\"nestedobject2\": {\"asdf\":18}}, \"asimplemodel\": {\"name\": \"constantinople\", id: 1453}, \"arrayofint\": [1,2,3,4,5], \"arrayofsimplemodel\": [{\"name\": \"agincourt\", id: 1415 }, {\"name\": \"rubicon\", id: -49}, {\"name\": \"carthage\", id\" -149}], \"alistofsimplemodel\": [{\"name\": \"agincourt\", id: 1415 }, {\"name\": \"rubicon\", id: -49}, {\"name\": \"carthage\", id\" -149}], \"2darray\": [[1,2,3],[4,5,6],[7,8,9]]}"
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "post an ComplexObject",
                "parameters": [
                    {
                        "name": "thelist",
                        "in": "body",
                        "description": "the thing getting posted",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/ComplexObject"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/ComplexObject"
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "uri" : "",
                    "httpMethod" : "POST",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates" : {
                                "application/json" : "$input.json('$')"
                            }
                        }
                    }
                }
            },
            "options": {
                "summary": "OPTIONS for CORS",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Empty"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    }
                },
                "x-amazon-apigateway-auth" : {
                    "type" : "none"
                },
                "x-amazon-apigateway-integration" : {
                    "type" : "mock",
                    "httpMethod" : "OPTIONS",
                    "requestTemplates" : {
                        "application/json" : "{\"statusCode\": 200}"
                    },
                    "responses" : {
                        "default" : {
                            "statusCode" : "200",
                            "responseTemplates": {
                                "application/json": ""
                            },
                            "responseParameters": {
                                "method.response.header.Access-Control-Allow-Headers": "'Content-Type,X-Amz-Date,Authorization,X-Api-Key'",
                                "method.response.header.Access-Control-Allow-Methods" : "'*'",
                                "method.response.header.Access-Control-Allow-Origin" : "'*'"
                            }
                        }
                    }
                }
            }
        },
        "/pets": {
            "get": {
                "summary": "GET an array of pet",
                "parameters": [],
                "responses": {
                    "200": {
                        "schema": {
                            "$ref": "#/definitions/Pets"
                        },
                        "headers" : {
                            "Access-Control-Allow-Headers" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Methods" : {
                                "type" : "string"
                            },
                            "Access-Control-Allow-Origin" : {
                                "type" : "string"
                            }
                        }
                    },
[...]
