{
    "swagger": "2.0",
    "info": {
        "title": "Uber API v2",
        "description": "Move your app forward with the Uber API",
        "version": "1.0.0"
    },
    "host": "api.uber.com",
    "schemes": [
        "https"
    ],
    "basePath": "/v1",
    "produces": [
        "application/json"
    ],
    "paths": {
        "/" : {
            "get": {
            }
        },
        "/level1" : {
            "get": {
            }
        },
        "/level1/level2" : {
            "get": {
            }
        },
        "/level1/level2/level3" : {
            "post": {
            }
        },
        "/1" : {"get": {}},
        "/2" : {"get": {}},
        "/3" : {"get": {}},
        "/4" : {"get": {}},
        "/5" : {"get": {}},
        "/6" : {"get": {}},
        "/7" : {"get": {}},
        "/8" : {"get": {}},
        "/9" : {"get": {}},
        "/10" : {"get": {}},
        "/11" : {"get": {}},
        "/12" : {"get": {}},
        "/13" : {"get": {}},
        "/14" : {"get": {}},
        "/15" : {"get": {}},
        "/16" : {"get": {}},
        "/17" : {"get": {}},
        "/18" : {"get": {}},
        "/19" : {"get": {}},
        "/20" : {"get": {}},
        "/21" : {"get": {}},
        "/22" : {"get": {}},
        "/23" : {"get": {}},
        "/24" : {"get": {}},
        "/25" : {"get": {}},
        "/26" : {"get": {}},
        "/27" : {"get": {}},
        "/28" : {"get": {}},
        "/29" : {"get": {}},
        "/30" : {"get": {}},
        "/31" : {"get": {}},
        "/33" : {"get": {}},
        "/34" : {"get": {}},
        "/35" : {"get": {}},
        "/36" : {"get": {}},
        "/37" : {"get": {}},
        "/38" : {"get": {}},
        "/39" : {"get": {}},
        "/40" : {"get": {}},
        "/41" : {"get": {}},
        "/42" : {"get": {}},
        "/43" : {"get": {}},
        "/44" : {"get": {}},
        "/45" : {"get": {}},
        "/46" : {"get": {}},
        "/47" : {"get": {}},
        "/48" : {"get": {}},
        "/49" : {"get": {}},
        "/50" : {"get": {}},
        "/51" : {"get": {}},
        "/52" : {"get": {}},
        "/53" : {"get": {}},
        "/54" : {"get": {}},
        "/55" : {"get": {}},
        "/56" : {"get": {}},
        "/57" : {"get": {}},
        "/58" : {"get": {}},
        "/59" : {"get": {}}

    },
    "definitions": {
        "Product": {
            "properties": {
                "product_id": {
                    "type": "string",
                    "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles."
                },
                "description": {
                    "type": "string",
                    "description": "Description of product."
                },
                "display_name": {
                    "type": "string",
                    "description": "Display name of product."
                },
                "capacity": {
                    "type": "string",
                    "description": "Capacity of product. For example, 4 people."
                },
                "image": {
                    "type": "string",
                    "description": "Image URL representing the product."
                }
            }
        },
        "PriceEstimate": {
            "properties": {
                "product_id": {
                    "type": "string",
                    "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles"
                },
                "currency_code": {
                    "type": "string",
                    "description": "[ISO 4217](http://en.wikipedia.org/wiki/ISO_4217) currency code."
                },
                "display_name": {
                    "type": "string",
                    "description": "Display name of product."
                },
                "estimate": {
                    "type": "string",
                    "description": "Formatted string of estimate in local currency of the start location. Estimate could be a range, a single number (flat rate) or \"Metered\" for TAXI."
                },
                "low_estimate": {
                    "type": "number",
                    "description": "Lower bound of the estimated price."
                },
                "high_estimate": {
                    "type": "number",
                    "description": "Upper bound of the estimated price."
                },
                "surge_multiplier": {
                    "type": "number",
                    "description": "Expected surge multiplier. Surge is active if surge_multiplier is greater than 1. Price estimate already factors in the surge multiplier."
                }
            }
        },
        "Profile": {
            "properties": {
                "first_name": {
                    "type": "string",
                    "description": "First name of the Uber user."
                },
                "last_name": {
                    "type": "string",
                    "description": "Last name of the Uber user."
                },
                "email": {
                    "type": "string",
                    "description": "Email address of the Uber user"
                },
                "picture": {
                    "type": "string",
                    "description": "Image URL of the Uber user."
                },
                "promo_code": {
                    "type": "string",
                    "description": "Promo code of the Uber user."
                }
            }
        },
        "Activity": {"properties": {"uuid": {"type": "string"}}},
        "Activity1": {"properties": {"uuid": {"type": "string"}}},
        "Activity2": {"properties": {"uuid": {"type": "string"}}},
        "Activity3": {"properties": {"uuid": {"type": "string"}}},
        "Activity4": {"properties": {"uuid": {"type": "string"}}},
        "Activity5": {"properties": {"uuid": {"type": "string"}}},
        "Activity6": {"properties": {"uuid": {"type": "string"}}},
        "Activity7": {"properties": {"uuid": {"type": "string"}}},
        "Activity8": {"properties": {"uuid": {"type": "string"}}},
        "Activity9": {"properties": {"uuid": {"type": "string"}}},
        "Activity10": {"properties": {"uuid": {"type": "string"}}},
        "Activity11": {"properties": {"uuid": {"type": "string"}}},
        "Activity12": {"properties": {"uuid": {"type": "string"}}},
        "Activity13": {"properties": {"uuid": {"type": "string"}}},
        "Activity14": {"properties": {"uuid": {"type": "string"}}},
        "Activity15": {"properties": {"uuid": {"type": "string"}}},
        "Activity16": {"properties": {"uuid": {"type": "string"}}},
        "Activity17": {"properties": {"uuid": {"type": "string"}}},
        "Activity18": {"properties": {"uuid": {"type": "string"}}},
        "Activity19": {"properties": {"uuid": {"type": "string"}}},
        "Activity20": {"properties": {"uuid": {"type": "string"}}},
        "Activity21": {"properties": {"uuid": {"type": "string"}}},
        "Activity22": {"properties": {"uuid": {"type": "string"}}},
        "Activity23": {"properties": {"uuid": {"type": "string"}}},
        "Activity24": {"properties": {"uuid": {"type": "string"}}},
        "Activity25": {"properties": {"uuid": {"type": "string"}}},
        "Activity26": {"properties": {"uuid": {"type": "string"}}},
        "Activity27": {"properties": {"uuid": {"type": "string"}}},
        "Activity28": {"properties": {"uuid": {"type": "string"}}},
        "Activity29": {"properties": {"uuid": {"type": "string"}}},
        "Activities": {
            "properties": {
                "offset": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Position in pagination."
                },
                "limit": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Number of items to retrieve (100 max)."
                },
                "count": {
                    "type": "integer",
                    "format": "int32",
                    "description": "Total number of items available."
                },
                "history": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/Activity"
                    }
                }
            }
        }
    }
}